In [2]:
import pandas as pd

# Read the original CSV file
df = pd.read_csv("GDP_data.csv", encoding="ISO-8859-1")

print(df.columns)

Index(['Country\n', '1980', '1981', '1982', '1983', '1984', '1985', '1986',
       '1987', '1988', '1989', '1990', '1991', '1992', '1993', '1994', '1995',
       '1996', '1997', '1998', '1999', '2000', '2001', '2002', '2003', '2004',
       '2005', '2006', '2007', '2008', '2009', '2010', '2011', '2012', '2013',
       '2014', '2015', '2016', '2017', '2018', '2019', '2020', '2021', '2022',
       '2023', '2024', '2025', '2026', '2027', '2028'],
      dtype='object')

In [3]:


# Melt the DataFrame to reshape it
df_melted = df.melt(id_vars=['Country\n'], var_name="Year", value_name="GDP_per_capita")

df_melted.rename(columns={'Country\n': 'Country'}, inplace=True)

# Convert the "Year" column to a datetime type (assuming the year columns contain valid years)
df_melted['Year'] = pd.to_datetime(df_melted['Year'], format='%Y')
df_melted['Year'] = (df_melted['Year']).dt.year

# Optionally, you can sort the DataFrame by year if it's not already sorted
df_melted = df_melted.sort_values(by='Year')

# Now, df_melted contains the data in a format suitable for Vega-Lite

df_melted

                                Country  Year GDP_per_capita
0                           Afghanistan  1980        no data
146                         Saint Lucia  1980       1460.566
147    Saint Vincent and the Grenadines  1980        903.445
148                               Samoa  1980        no data
149                          San Marino  1980        no data
...                                 ...   ...            ...
11120                              Iraq  2028        6678.17
11121                           Ireland  2028     139000.623
11122                            Israel  2028      64447.313
11124                           Jamaica  2028       7621.283
11269                        ©IMF, 2023  2028            NaN

[11270 rows x 3 columns]

In [12]:
# Export the reshaped DataFrame to a new CSV file
df_melted.to_csv("reshaped_gdp_data.csv", index=False)

In [18]:
#filter all values for global GDP per capita
filt = df_melted['Country'] == 'World'
world_gdp = df_melted[filt]
world_gdp

      Country  Year GDP_per_capita
227     World  1980       2864.287
457     World  1981       2878.537
687     World  1982       2774.773
917     World  1983       2799.945
1147    World  1984       2849.792
1377    World  1985        2923.55
1607    World  1986       3380.329
1837    World  1987         3824.6
2067    World  1988       4226.757
2297    World  1989       4368.787
2527    World  1990       4694.939
2757    World  1991       4824.813
2987    World  1992       4800.699
3217    World  1993       4854.935
3447    World  1994       5132.282
3677    World  1995       5627.723
3907    World  1996       5695.635
4137    World  1997       5592.218
4367    World  1998       5447.272
4597    World  1999        5567.93
4827    World  2000       5671.498
5057    World  2001       5558.503
5287    World  2002       5652.397
5517    World  2003       6244.812
5747    World  2004        6942.17
5977    World  2005       7427.372
6207    World  2006       7945.998
6437    World  2007       8860.108
6667    World  2008        9599.56
6897    World  2009       8984.296
7127    World  2010       9710.822
7357    World  2011      10674.104
7587    World  2012      10727.664
7817    World  2013      10903.452
8047    World  2014      11057.247
8277    World  2015      10312.235
8507    World  2016       10360.64
8737    World  2017       10885.94
8967    World  2018      11420.565
9197    World  2019      11472.028
9427    World  2020      11048.299
9657    World  2021      12478.511
9887    World  2022      12875.438
10117   World  2023      13439.982
10347   World  2024      13969.116
10577   World  2025      14548.859
10807   World  2026      15152.769
11037   World  2027      15754.554
11267   World  2028      16383.737

In [19]:
# Export the world GDP DataFrame to a new CSV file
world_gdp.to_csv("total_world_gdp_data.csv", index=False)

In [12]:
df = df_melted

unique_countries = df['Country'].unique()

# Format the values with double quotes and sort in ascending order
unique_countries_sorted = sorted(['"{0}"'.format(country) for country in map(str, unique_countries)])

# Display the list of unique countries in ascending order with double quotes
unique_countries_sorted

['"ASEAN-5"',
 '"Advanced economies"',
 '"Afghanistan"',
 '"Africa (Region)"',
 '"Albania"',
 '"Algeria"',
 '"Andorra"',
 '"Angola"',
 '"Antigua and Barbuda"',
 '"Argentina"',
 '"Armenia"',
 '"Aruba"',
 '"Asia and Pacific"',
 '"Australia and New Zealand"',
 '"Australia"',
 '"Austria"',
 '"Azerbaijan"',
 '"Bahamas, The"',
 '"Bahrain"',
 '"Bangladesh"',
 '"Barbados"',
 '"Belarus"',
 '"Belgium"',
 '"Belize"',
 '"Benin"',
 '"Bhutan"',
 '"Bolivia"',
 '"Bosnia and Herzegovina"',
 '"Botswana"',
 '"Brazil"',
 '"Brunei Darussalam"',
 '"Bulgaria"',
 '"Burkina Faso"',
 '"Burundi"',
 '"Cabo Verde"',
 '"Cambodia"',
 '"Cameroon"',
 '"Canada"',
 '"Caribbean"',
 '"Central African Republic"',
 '"Central America"',
 '"Central Asia and the Caucasus"',
 '"Chad"',
 '"Chile"',
 '"China, People\'s Republic of"',
 '"Colombia"',
 '"Comoros"',
 '"Congo, Dem. Rep. of the"',
 '"Congo, Republic of "',
 '"Costa Rica"',
 '"Croatia"',
 '"Cyprus"',
 '"Czech Republic"',
 '"Côte d\'Ivoire"',
 '"Denmark"',
 '"Djibouti"',
 '"Dominica"',
 '"Dominican Republic"',
 '"East Asia"',
 '"Eastern Europe "',
 '"Ecuador"',
 '"Egypt"',
 '"El Salvador"',
 '"Emerging and Developing Asia"',
 '"Emerging and Developing Europe"',
 '"Emerging market and developing economies"',
 '"Equatorial Guinea"',
 '"Eritrea"',
 '"Estonia"',
 '"Eswatini"',
 '"Ethiopia"',
 '"Euro area"',
 '"Europe"',
 '"European Union"',
 '"Fiji"',
 '"Finland"',
 '"France"',
 '"Gabon"',
 '"Gambia, The"',
 '"Georgia"',
 '"Germany"',
 '"Ghana"',
 '"Greece"',
 '"Grenada"',
 '"Guatemala"',
 '"Guinea"',
 '"Guinea-Bissau"',
 '"Guyana"',
 '"Haiti"',
 '"Honduras"',
 '"Hong Kong SAR"',
 '"Hungary"',
 '"Iceland"',
 '"India"',
 '"Indonesia"',
 '"Iran"',
 '"Iraq"',
 '"Ireland"',
 '"Israel"',
 '"Italy"',
 '"Jamaica"',
 '"Japan"',
 '"Jordan"',
 '"Kazakhstan"',
 '"Kenya"',
 '"Kiribati"',
 '"Korea, Republic of"',
 '"Kosovo"',
 '"Kuwait"',
 '"Kyrgyz Republic"',
 '"Lao P.D.R."',
 '"Latin America and the Caribbean"',
 '"Latvia"',
 '"Lebanon"',
 '"Lesotho"',
 '"Liberia"',
 '"Libya"',
 '"Lithuania"',
 '"Luxembourg"',
 '"Macao SAR"',
 '"Madagascar"',
 '"Major advanced economies (G7)"',
 '"Malawi"',
 '"Malaysia"',
 '"Maldives"',
 '"Mali"',
 '"Malta"',
 '"Marshall Islands"',
 '"Mauritania"',
 '"Mauritius"',
 '"Mexico"',
 '"Micronesia, Fed. States of"',
 '"Middle East (Region)"',
 '"Middle East and Central Asia"',
 '"Moldova"',
 '"Mongolia"',
 '"Montenegro"',
 '"Morocco"',
 '"Mozambique"',
 '"Myanmar"',
 '"Namibia"',
 '"Nauru"',
 '"Nepal"',
 '"Netherlands"',
 '"New Zealand"',
 '"Nicaragua"',
 '"Niger"',
 '"Nigeria"',
 '"North Africa"',
 '"North America"',
 '"North Macedonia "',
 '"Norway"',
 '"Oman"',
 '"Other advanced economies"',
 '"Pacific Islands "',
 '"Pakistan"',
 '"Palau"',
 '"Panama"',
 '"Papua New Guinea"',
 '"Paraguay"',
 '"Peru"',
 '"Philippines"',
 '"Poland"',
 '"Portugal"',
 '"Puerto Rico"',
 '"Qatar"',
 '"Romania"',
 '"Russian Federation"',
 '"Rwanda"',
 '"Saint Kitts and Nevis"',
 '"Saint Lucia"',
 '"Saint Vincent and the Grenadines"',
 '"Samoa"',
 '"San Marino"',
 '"Saudi Arabia"',
 '"Senegal"',
 '"Serbia"',
 '"Seychelles"',
 '"Sierra Leone"',
 '"Singapore"',
 '"Slovak Republic"',
 '"Slovenia"',
 '"Solomon Islands"',
 '"Somalia"',
 '"South Africa"',
 '"South America"',
 '"South Asia"',
 '"South Sudan, Republic of"',
 '"Southeast Asia"',
 '"Spain"',
 '"Sri Lanka"',
 '"Sub-Saharan Africa (Region) "',
 '"Sub-Saharan Africa"',
 '"Sudan"',
 '"Suriname"',
 '"Sweden"',
 '"Switzerland"',
 '"Syria"',
 '"São Tomé and Príncipe"',
 '"Taiwan Province of China"',
 '"Tajikistan"',
 '"Tanzania"',
 '"Thailand"',
 '"Timor-Leste"',
 '"Togo"',
 '"Tonga"',
 '"Trinidad and Tobago"',
 '"Tunisia"',
 '"Turkmenistan"',
 '"Tuvalu"',
 '"Türkiye, Republic of"',
 '"Uganda"',
 '"Ukraine"',
 '"United Arab Emirates"',
 '"United Kingdom"',
 '"United States"',
 '"Uruguay"',
 '"Uzbekistan"',
 '"Vanuatu"',
 '"Venezuela"',
 '"Vietnam"',
 '"West Bank and Gaza"',
 '"Western Europe"',
 '"Western Hemisphere (Region)"',
 '"World"',
 '"Yemen"',
 '"Zambia"',
 '"Zimbabwe"',
 '"nan"',
 '"©IMF, 2023"']

In [13]:
HPI = pd.read_csv("HPI.csv", encoding="ISO-8859-1")
HDI = pd.read_csv("HDI_2019.csv", encoding="ISO-8859-1")

In [20]:
merged_df = pd.merge(HPI, HDI, on='Country', how='inner')
merged_df
merged_df.to_csv("HDI_HPI_data.csv", index=False)

In [21]:
merged_df

                      Country        HPI  Normalised_HPI    HDI
0                  Costa Rica  62.057552        0.620576  0.819
1                     Vanuatu  60.363876        0.603639  0.611
2                    Colombia  60.165168        0.601652  0.768
3                 Switzerland  60.104650        0.601047  0.962
4                     Ecuador  58.831213        0.588312  0.760
..                        ...        ...             ...    ...
129                  Zimbabwe  28.640191        0.286402  0.601
130                   Lesotho  27.308550        0.273086  0.524
131  Central African Republic  25.211463        0.252115  0.411
132                  Mongolia  24.467037        0.244670  0.746
133                     Qatar  24.326554        0.243266  0.859

[134 rows x 4 columns]